<!DOCTYPE html>
<html>
<head>
  <title>Emergence</title>
  <link rel="shortcut icon" href="{{url_for('static', filename='EMERGENCE-LOGO-ICON.png')}}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  <!-- Link to custom CSS -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='stylesheets/mainpage.css') }}">
  <link rel="shortcut icon"  href="{{url_for('static', filename='EMERGENCE-LOGO-ICON.png')}}">

  <style>

  .center {
  margin: 0 auto;
  margin-top: 15px;
  width: 600px;
  height: auto;
  border-color: #262626;
  border-width: 3px;
  padding: 2%;
}

  input{
    margin-bottom: 1%;
  }

  </style>

</head>
<body>
<header>
  <div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="home">Emergence</a>
    <div class="container-fluid" id="navbarNav">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="schedule">Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="restrictions">Restrictions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="shift_configuration">Configure Shifts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="calculator">Calculator</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My Account</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item active">
          <a class="nav-link" href="login">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
<div/>
</header>
<content>

<h5 style="font-family: 'Trebuchet MS', Helvetica, sans-serif; text-align: center; margin-top: 30px;">Efficiency Calculator</h5>

<div class="card bg-light center">
  <div style="font-family: 'Trebuchet MS', Helvetica, sans-serif; background-color: #F5F5F5;" class="card-body">

    <form style="font-family: 'Trebuchet MS', Helvetica, sans-serif;" action="/calculator" method="POST">
      <div class="form-row">
        <div class="form-group col-md-6 mb-3">
          <label>Physician</label>
          <select class="custom-select" name="doctor_1" id="doctor_1">
            <option selected>Choose...</option>
            {% for name in list_of_doctors %}
            <option value="{{name}}">{{name}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group col-md-6 mb-3">
        <label>Physician</label>
          <select class="custom-select" name="doctor_2" id="doctor_2">
            <option selected>Choose...</option>
            {% for name in list_of_doctors %}
            <option value="{{name}}">{{name}}</option>
            {% endfor %}
          </select>
        </div>
      </div>  

      <div class="form-row">
        <div class="form-group col-md-6 mb-3">
        <label>Physician</label>
          <select class="custom-select" name="doctor_3" id="doctor_3">
            <option selected>Choose...</option>
            {% for name in list_of_doctors %}
            <option value="{{name}}">{{name}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group col-md-6 mb-3">
        <label>Physician</label>
          <select class="custom-select" name="doctor_4" id="doctor_4">
            <option selected>Choose...</option>
            {% for name in list_of_doctors %}
            <option value="{{name}}">{{name}}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 mb-3">
        <label>Physician</label>
          <select class="custom-select" name="doctor_5" id="doctor_5">
            <option selected>Choose...</option>
            {% for name in list_of_doctors %}
            <option value="{{name}}">{{name}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group col-md-6 mb-3">
        <label>Physician</label>
          <select class="custom-select" name="doctor_6" id="doctor_6">
            <option selected>Choose...</option>
            {% for name in list_of_doctors %}
            <option value="{{name}}">{{name}}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="form-group">
        <label>Time of Shift</label>
        <input class="form-control" type="time" name="hour_of_day">
      </div>  

      <div class="form-group">Start: <input class="form-control" type="date" name="search_date"></div>

      <button type="submit" class="btn btn-primary">Compute Efficiency!</button>
    </form>
    <br>
    {{prediction|safe}}

  </div>
</div>
</content>
<footer style="margin-bottom: 50px;">
</footer>

</body>
</html>
