<!DOCTYPE html>
<html>
<head>
	<title>Emergence</title>
	<link rel="shortcut icon" href="{{url_for('static', filename='EMERGENCE-LOGO-ICON.png')}}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
<!-- Link to custom CSS -->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='stylesheets/mainpage.css') }}">
    <link rel="shortcut icon"  href="{{url_for('static', filename='EMERGENCE-LOGO-ICON.png')}}">


</head>

<body>

<p>The predicted PPH rate is <b>{{prediction}}</b> for this particular dataset.</p>

</body>
</html>
