<!doctype html>
<html lang="en">
  <head>
    <title>Emergence</title>
    <link rel="shortcut icon"  href="{{url_for('static', filename='EMERGENCE-LOGO-ICON.png')}}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <!-- Spinner -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    

    <style>
      #rcorners {
        margin-right: 100px;
        float: right;
        margin-top: 100px;
        border-radius: 25px;
        border: 2px solid #262626;
        padding: 20px; 
        width: 400px;
        height: 360px;
        background-color: #F5F5F5;
    }

      .container {
        width: 350px;
        height: 200px;
        float: left;
        margin-left: 30px; 
        margin-top: 70px; 
        text-align: center;
    }

    /* resize images */
      .container img {
        width: 100%;
        height: auto;
    }

    #image01 {width:70%;height:75%;border:0;
    margin-left: 15%;
    margin-right: 15%;} 
    .show{display:block;}
    .hide{display:none;}

    </style>

    <script type="text/javascript">
      function loading_function() {
        var x = document.getElementById("page-content");
        if (x.style.display === "none") {
          x.style.display = "block";
        } else {
          x.style.display = "none";
        }
      }

      function display_loading_gif(){
        var obj=document.getElementById('image01');
        obj.className = 'show';
        }

    </script>

  </head>
  <body>

<header>
<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="home">Emergence</a>
    <div class="container-fluid" id="navbarNav">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="schedule">Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="restrictions">Restrictions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="shift_configuration">Configure Shifts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="calculator">Calculator</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My Account</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item active">
          <a class="nav-link" href="login">Logout</a>
        </li>
      </ul>  
    </div>
  </nav>
<div/>
<header/>

<img id="image01" src="https://media.giphy.com/media/Hzx59OElruHpC/giphy.gif" class="hide"> 

<div id="page-content">

  <content>
    <div class="container">
      <h4 style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">Welcome administrator</h4>
      <img src="{{url_for('static', filename='doctor_cartoon.jpg')}}" style="width: 100%; height: auto; margin-top: 10px;">
    </div>

    <div id="rcorners">
      <div style="margin-top: 25px;">
      <h4 style="margin: auto; font-family: 'Trebuchet MS', Helvetica, sans-serif;" align="center">View existing schedule</h4>
      <form style="margin: auto; font-family: 'Trebuchet MS', Helvetica, sans-serif; margin-left: 40px;" method="POST" enctype="multipart/form-data">
          <br>
          <span><input type="file" name="file"></span>  <br><br>
          Start: <input type="date" name="search_date"> <br><br>
          End: <input type="date" name="search_date_end"> <br><br>
          <button onclick="loading_function();display_loading_gif()" type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    </div>

    <div id="rcorners">
      <div style="margin-top: 25px; text-align: center;">
      <h4 style="margin: auto; font-family: 'Trebuchet MS', Helvetica, sans-serif;" align="center">Create new schedule</h4>
      <a href="/create_schedule"><img src="{{url_for('static', filename='blue_sign.jpg')}}" style="width: 45%; height: auto; margin-top: 35px;"></a>
      </div>
    </div>
  </content>
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  </body>
</html>