<!DOCTYPE html>
<html>
<head>
    <title>Emergence</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='EMERGENCE-LOGO-ICON.png')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"> -->
    <!-- <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script> -->
    <!-- <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script> -->

    <!-- Bootstrap CSS link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation-float.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous"> -->

    <!-- Link to custom CSS -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
    <link rel="shortcut icon"  href="{{url_for('static', filename='EMERGENCE-LOGO-ICON.png')}}">

    <style>
      .center {
        margin: 0 auto;
        margin-top: 15px;
        width: 800px;
        height: auto;
        border-color: #262626;
        border-width: 3px;
        padding: 2%;
      }
    </style>

</head>
<body>
<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="doctor_home">Emergence</a>
    <div class="container-fluid" id="navbarNav">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="personal_schedule">My Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="feedback">Doctor Feedback</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="set_personal_preferences">Preferences</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="settings">My Account</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item active">
          <a class="nav-link" href="login">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

    <h4 style="font-family: 'Trebuchet MS', Helvetica, sans-serif; text-align: center; margin-top: 30px;">Session Feedback</h5>

      <div class="card bg-light center">
        <div style="font-family: 'Trebuchet MS', Helvetica, sans-serif; background-color: #F5F5F5;" class="card-body">
          <form style="font-family: 'Trebuchet MS', Helvetica, sans-serif;" method="POST" action="/compute_feedback">

            <div class="form-group">
              <strong><label>Doctor</label></strong>
              <input class="form-control" type="text" name="doctor_name" value="{{user}}">
            </div>
            
            <div class="form-group">
              <strong><label>Shift</label></strong>
              <input class="form-control" list="shift_name" name="shift_name" value="{{shift}}">
            </div>

            <div class="form-group">
              <strong><label>Date</label></strong>
              <input class="form-control" type="text" name="day" value="{{date}}">
            </div>

            <div class="form-group">
              <strong><label>Time</label></strong>
              <input class="form-control" type="text" name="shift_time" value="{{start_time}}:00 to {{end_time}}:00">
            </div>

            <div>
            <strong><label>How satisfied were you?</label></strong>
              <input class="form-control" type="range" name="satisfaction" id="satisfaction" value="50" min="0" max="100" data-show-value="true">
              <i><p style="float: left;">Not happy</p></i>
              <i><p style="float: right;">Very satisfied</p></i>
            </div>
            <br>
            <br>

            <div class="form-group">
            <strong><label>How stressed were you?</label></strong>
              <input class="form-control" type="range" name="stress" id="stress" value="50" min="0" max="100" data-show-value="true">
              <i><p style="float: left;">No stress</p></i>
              <i><p style="float: right;">A lot</p></i>
            </div> 
            <br>
            <br>

            <div class="form-group">
              <strong><label>How tired were you?</label></strong>
              <input class="form-control" type="range" name="tired" id="tired" value="50" min="0" max="100" data-show-value="true">
              <i><p style="float: left;">Extremely alert</p></i>
              <i><p style="float: right;">Very sleepy</p></i>
            </div>
            <br>
            <br>

            <div class="form-group">
              <strong><label>Any thoughts?</label></strong>
              <div class="col-sm-12">
                <textarea class="form-control" rows="3" id="comment" name="comment"></textarea>
              </div>
            </div>
        <br>

          <button type="submit" class="btn btn-block btn-primary">Submit</button>

        </form>
      </div>
    </div>


</body>
</html>
