<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Emergence</title>
  <link rel="shortcut icon" href="{{url_for('static', filename='EMERGENCE-LOGO-ICON.png')}}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>



</head>

<style>
body {font-family: Arial, Helvetica, sans-serif;}
/*form {border: 3px solid #f1f1f1;}*/

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #0580D0;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.imgcontainer {
    text-align: center;
    /*margin: 24px 0 12px 0;*/
}

img.avatar {
    width: 20%;
    border-radius: 50%;
}

.container {
    width: 40%;
    padding: 16px;
}

div {
  margin: auto;
  height: auto;
}

div.a {
    background-color: red;
    width: 25%;
    margin: auto;
    height: auto; 
}

.center {
    text-align: center;
    vertical-align: middle;
    border: 3px solid red;
}

.loader-container {
  background-color: white;
}

#loader-image {
  display: none;
  background-color: red;
}


</style>



<body>

        <div id="body-content">

            <br>
            <form action="" method='POST'>
              <div class="imgcontainer">
                <!-- <img src="{{url_for('static', filename='favicon.ico')}}"> -->
                <br>
                <img style="width:300px; height: auto;" src="{{url_for('static', filename='EMERGENCE-LOGO-HEAD.png')}}">
              </div>

            {% if error %}
              <div class="a center">
                <p class="error"><font color="white"><strong>Error:</strong> {{ error }}</font></p>
              </div>    
            {% endif %}

              <div class="container">
                <label for="uname"><b>Username</b></label>
                <input style="width: 99.3%; height: 36px; text-indent: 20px;" placeholder="Enter Username" list="doctor_name" name="doctor_name">
                    <datalist style="width: 99.3%" id="doctor_name">
                        {% for name in list_of_doctors %}
                            <option value="{{name}}">
                        {% endfor %}
                    </datalist>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" value="{{request.form.password}}" required>
                    
                <button type="submit" value="Login">Login</button>
             </div> 

<!--              <script type="text/javascript">
                     document.addEventListener("DOMContentLoaded", function(e) {
                    document.body.classList.remove('fade');
                    });
             </script> -->



            </form>

        </div>

</body>
</html>