<!doctype html>
<html lang="en">
  <head>
    <title>Emergence</title>
    <link rel="shortcut icon"  href="{{url_for('static', filename='EMERGENCE-LOGO-ICON.png')}}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity=''></script>


    <style>
       .carousel-control-prev-icon,
    .carousel-control-next-icon {
      height: 100px;
      width: 100px;
      outline: black;
      background-size: 100%, 100%;
      border-radius: 50%;
      border: 1px solid black;
      background-image: none;
    }

    .carousel-control-next-icon:after
    {
      content: '>';
      font-size: 55px;
      color: black
    }

    .carousel-control-prev-icon:after {
      content: '<';
      font-size: 55px;
      color: black;

    }

    .carousel-item{
      padding-top:0%;
      padding-bottom:5%;
      padding-left:15%;
      padding-right: 15%;
    }

      #rcorners {
        margin-right: 100px;
        float: right;
        margin-top: 60px;
        border: 2.5px solid #262626;
        padding: 20px; 
        width: 900px;
        height: 700px;
        background-color: #F5F5F5;
    }
      .container {
        width: 350px;
        height: 200px;
        float: left;
        margin-left: 30px; 
        margin-top: 50px; 
        text-align: center;
    }

    .tablecontainer {
      width: 100%;
      margin: auto;
      margin-top: 0px;
      padding: 40px;
    }


    /* resize images */
    .container img {
        width: 100%;
        height: auto;
    }

    input[type=checkbox] {
      margin: auto;
      width: 200px;
      height: 40px;
      padding: 0px;
      opacity: 0.0;
      cursor: pointer;
    }
    </style>

    
  </head>
  <body>

<header>
<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="doctor_home">Emergence</a>
    <div class="container-fluid" id="navbarNav">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="personal_schedule">My Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="feedback">Doctor Feedback</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="set_personal_preferences">Preferences</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="settings">My Account</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item active">
          <a class="nav-link" href="login">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
<div/>

<header/>
<content>
  <form method="POST" enctype="multipart/form-data" action="/set_personal_preferences">
    <div>
      <h4 style="padding: 30px; float: center; margin: auto; font-family: 'Trebuchet MS', Helvetica, sans-serif;" align="center">My Preferences</h4>
      <h6 style="padding: 2px; float: left; margin-left: 120px;">*Please Select Unavailable Times</h6>
      <button style="display: inline; float: right; margin-right: 120px;margin-bottom: 10px;" type="submit" class="btn btn-primary">Submit</button>
    </div>
    
    <div class="tablecontainer">
        {{preference_table | safe}}
        <br>
        <br>
    </div>
  <br>
    <div>
      <h6 style="padding: 2px; float: left; margin-left: 120px;">#Please Select Unavailable Dates</h6>
      <button style="display: inline; float: right; margin-right: 120px; margin-bottom: 10px;" type="submit" class="btn btn-primary">Submit</button>
    </div>

    <div class="tablecontainer">
      {{restrictions_calendar | safe}}
    </div>
  </form>

</content>
<script type="text/javascript">

    $("input[type=checkbox]").change(function() {
        if(this.checked) {
          console.log('checked');
          $(this).closest("td").css("background-color", "#FF4900");
        }
        else {
          console.log('unchecked');
          $(this).closest("td").css("background-color", "transparent");
        }
    });

</script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>