<!doctype html>
<html lang="en">
  <head>
    <title>Emergence</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='EMERGENCE-LOGO-ICON.png')}}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="shortcut icon"  href="{{url_for('static', filename='EMERGENCE-LOGO-ICON.png')}}">

    <style>
    .tablecontainer {
      width: 95%;
      margin: 0 auto;
      margin-top: 0px;
      padding: 5px;
    }

    div.title {
      padding: 40px;
      margin-bottom: 10px;
    }

    th{
      text-align: center;
      vertical-align: middle;
      overflow: hidden;
      margin: 0;
      width: auto;
    }

    td {
      text-align: center;
      vertical-align: middle;
      width: auto;
    }

/*    p {
      color: red;
    }*/

    p.yellow {
      color: #FFC433;
    }

    .center_box {
      margin: 0 auto;
      margin-top: 15px;
      width: 1000px;
      height: auto;
      border-color: #262626;
      border-width: 3px;
    }

  </style>

  <script>
  $('#download_button').click(function(){
    $.get('/download',
      function(html_calendar){
        sessionStorage.setItem('allow', 'yes');
        sessionStorage.setItem('html_calendar', html_calendar)
        console.log(html_calendar)
        document.location.href = '/download';
      })
    })
  </script>
  </head>
  <body>

<header>
<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="home">Emergence</a>
    <div class="container-fluid" id="navbarNav">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="schedule">Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="restrictions">Restrictions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="shift_configuration">Configure Shifts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="calculator">Calculator</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My Account</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item active">
          <a class="nav-link" href="login">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
<div/>

<header/>
<content>
  <div class="title">
    <h3 style="text-align: left; float: left;">Schedule for {{current_date}}</h3>
    <button type='button' id='showbutton' style="float: right;" class="btn btn-outline-dark" value="off">Return To Original</button>
    <button type='button' id='backbutton' style="float: right;" class="btn btn-outline-dark" value="off">See Proposed Changes</button>
  </div>

  <div class="tablecontainer">
    <div style="border-style: solid ;border-width: 1px; border-color: #e5e5e5">
          <h5 style="padding:20px;">Statistics for the optimized schedule</h5>
    <div class="container" style="margin-bottom: 20px;">
      <div class="row">
        <div class="col-2">
          <b>PPH:</b> {{PPH_value}}
        </div>
        <div class="col-2">
          <b>PI:</b> {{PI_value}}
        </div>
        <div class="col-2">
            <b>{{plus_minus}}</b> more patients seen 
        </div>
        <div class="col-3">
          <b>Original number of shifts:</b> {{original_number_of_shifts}} 
        </div>
        <div class="col-3">
          <b>Optimized number of shifts:</b> {{proposed_number_of_shifts}}
        </div>
      </div>
    </div>
    </div>
  </div>

  <div id="originaltable" class='tablecontainer'>

    {{html_table | safe}}
  </div>
  <br>
  <div id="newtable" style="display: none;" class="tablecontainer">  
    {{original_html_table | safe}}
    <br>
  </div>
</content>

<script>
  $( document ).ready(function() {
    if (sessionStorage.getItem('check') == 'yes'){
      html_table = sessionStorage.getItem('html_table');
      document.open();
      document.write(html_table);
      document.close();
    }
    sessionStorage.removeItem('check');
  })

    $(document).ready(function() {
    var showbutton = document.getElementById('showbutton');
    var backbutton = document.getElementById('backbutton');
    backbutton.style.display = 'none';
    $("#showbutton").click(function(){
        var originaltable = document.getElementById('originaltable');
        var newtable = document.getElementById('newtable');
        originaltable.style.display = 'none';
        newtable.style.display = 'block';
        showbutton.style.display = 'none';
        backbutton.style.display = 'block';
        acceptbutton.style.display = 'block';
    })

    $("#backbutton").click(function(){
        newtable.style.display = 'none';
        originaltable.style.display = 'block';
        backbutton.style.display = 'none';
        showbutton.style.display = 'block';
        acceptbutton.style.display = 'none';
    })

  })

</script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  </body>

</html>
