<!doctype html>
<html lang="en">
  <head>
    <title>Emergence</title>
    <link rel="shortcut icon"  href="{{url_for('static', filename='EMERGENCE-LOGO-ICON.png')}}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity=''></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <style>
          .carousel-control-prev-icon,
    .carousel-control-next-icon {
      height: 100px;
      width: 100px;
      outline: black;
      background-size: 100%, 100%;
      border-radius: 50%;
      border: 1px solid black;
      background-image: none;
    }

    .carousel-control-next-icon:after
    {
      content: '>';
      font-size: 55px;
      color: black
    }

    .carousel-control-prev-icon:after {
      content: '<';
      font-size: 55px;
      color: black;

    }

    .carousel-item{
      padding-top:0%;
      padding-bottom:5%;
      padding-left:15%;
      padding-right: 15%;
    }

    .tablecontainer {
      width: 100%;
      margin: auto;
      margin-top: 0px;
      padding: 40px;
    }

    div.title {
      padding: 20px;
    }

    th{
      text-align: center;
      vertical-align: middle;
      overflow: hidden;
      margin: 0;
      width: 10%;
      height: 80px;
    }

    td {
      height: 80px;
      text-align: center;
      vertical-align: middle;
    }

    button.table {
      background: transparent;
      background-repeat:no-repeat;
      border: none;
      cursor:pointer;
      overflow: hidden;
      outline:none;
      width: 100%;
      display: inline-block;
    }

  </style>

  <script>
  $('#download_button').click(function(){
    $.get('/download',
      function(html_calendar){
        sessionStorage.setItem('allow', 'yes');
        sessionStorage.setItem('html_calendar', html_calendar)
        console.log(html_calendar)
        console.log("download!");
        document.location.href = '/download';
      })
    })
  </script>

  </head>
  <body>

<header>
<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="home">Emergence</a>
    <div class="container-fluid" id="navbarNav">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="schedule">Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="restrictions">Restrictions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="shift_configuration">Configure Shifts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="calculator">Calculator</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My Account</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item active">
          <a class="nav-link" href="login">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
<div/>
</header>

<content>
  <div class="title" style="margin-bottom: 40px;">
    <h3 style="text-align: left; float: left; margin-left: 90px;">Calendar</h3>
    <a href="download" class="btn btn-outline-dark" style="float: right; margin-right: 40px;">Download Schedule</a>
    <a href="optimized_summary" class="btn btn-outline-dark" style="float: right; margin-right: 5px;">See Summary</a>

  </div>

  <div id='tablecontainer' class='tablecontainer'>
    <p align="right" style="margin-right: 220px;">{{patient_inflow}} predicted patients coming in</p>
    <p align="right" style="margin-right: 220px;">{{patients_seen}} predicted patients seen</p>
    <p align="right" style="margin-right: 220px;">{{total_plus_minus}} extra patients seen</p>
    {{calendar | safe}}
  </div>

</content>
</body>

<footer style="margin-bottom: 200px;"></footer>

<script type="text/javascript">

  $( document ).ready(function() {
    if (sessionStorage.getItem('allow') == 'yes'){
      html_calendar = sessionStorage.getItem('html_calendar');
      document.open();
      document.write(html_calendar);
      document.close();
    }
    sessionStorage.removeItem('allow');
  })

  if ("{{key}}" == "Emergence"){
    var myTables = document.getElementById('tablecontainer');
    sessionStorage.tableData=myTables.innerHTML;
    myTables.innerHTML = sessionStorage.tableData;
  }

  var myTables = document.getElementById('tablecontainer');
  myTables.innerHTML = sessionStorage.tableData;

  $('button[type=button]').click(function() {
    var dateID = $(this).closest("td").attr("id");
    var date = $(this).text();
    var month = $(this).closest("tbody").find("th.month").text();

    $.post('/show_optimized_calendar',
    {
      date : date,
      dateID : dateID,
      month : month
    }, function(html_table){
      sessionStorage.setItem('check', 'yes');
      sessionStorage.setItem('html_table', html_table);
      document.location.href = '/optimized_analysis';
    })
  })

</script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
