<!doctype html>
<html lang="en">
  <head>
    <title>Emergence</title>
    <link rel="shortcut icon"  href="{{url_for('static', filename='EMERGENCE-LOGO-ICON.png')}}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<header>
<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="doctor_home">Emergence</a>
    <div class="container-fluid" id="navbarNav">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="personal_schedule">My Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="feedback">Doctor Feedback</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="set_personal_preferences">Preferences</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="settings">My Account</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item active">
          <a class="nav-link" href="login">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
</header>
</head>

<style type="text/css">
        .carousel-control-prev-icon,
    .carousel-control-next-icon {
      height: 100px;
      width: 100px;
      outline: black;
      background-size: 100%, 100%;
      border-radius: 50%;
      border: 1px solid black;
      background-image: none;
    }

    .carousel-control-next-icon:after
    {
      content: '>';
      font-size: 55px;
      color: black
    }

    .carousel-control-prev-icon:after {
      content: '<';
      font-size: 55px;
      color: black;

    }

    .carousel-item{
      padding-top: 0%;
      padding-bottom: 5%;
      padding-left: 5%;
      padding-right: 5%;
    }

    .tablecontainer {
      width: 100%;
      margin: auto;
      margin-top: 0px;
      padding: 10px;
    }

    table{
      margin-left: 10%;
      margin-right: 10%;
    }
    
</style>

<body>
<content>
  <div class="title">
    <br>
    <h3 style="text-align: left; float: left; margin-left: 90px;">My Schedule</h3>
    <!--<button type='button' id='download_button' style="float: right; margin-right: 90px;" class="btn btn-outline-dark" value="off">Download Recommended Schedule</button>-->
  </div>
  <br>
  <br>
  <div class='tablecontainer'>
      {{weekly_schedule | safe}}
  </div>

  <br>
</content>
</body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  </body>