<!doctype html>
<html lang="en">
  <head>
    <title>Emergence</title>
    <link rel="shortcut icon"  href="{{url_for('static', filename='EMERGENCE-LOGO-ICON.png')}}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity=''></script>


    <style>
      #rcorners {
        margin-right: 100px;
        float: right;
        margin-top: 60px;
        border: 2.5px solid #262626;
        padding: 20px; 
        width: 900px;
        height: 700px;
        background-color: #F5F5F5;
    }
      .container {
        width: 350px;
        height: 200px;
        float: left;
        margin-left: 30px; 
        margin-top: 50px; 
        text-align: center;
    }

    .tablecontainer {
      width: 100%;
      margin: auto;
      margin-top: 0px;
      padding: 40px;
    }

    /* resize images */
    .container img {
        width: 100%;
        height: auto;
    }

    #tablecheckbox {
      margin: auto;
      width: 200px;
      height: 40px;
      padding: 0px;
      opacity: 0.0;
      cursor: pointer;
    }
    </style>

    
  </head>
  <body>

<header>
<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="home">Emergence</a>
    <div class="container-fluid" id="navbarNav">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="schedule">Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="restrictions">Restrictions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="shift_configuration">Configure Shifts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="calculator">Calculator</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My Account</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item active">
          <a class="nav-link" href="login">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
<div/>

<header/>
<content>
  <form method="POST" enctype="multipart/form-data" action="/restrictions">
    <div>
      <input style="float: left; display: inline; margin-top: 40px; margin-left: 120px;" placeholder="Choose Physician" list="doctor_name" name="doctor_name">
        <datalist style="width: 99.3%" id="doctor_name">
            {% for name in query %}
                <option value="{{name}}">
            {% endfor %}
        </datalist>
      <button style="display: inline; float: left; margin-top: 36px; margin-left: 2px;" type="submit" class="btn btn-primary">Choose</button> 
      <h4 style="padding: 30px; float: center; margin-right: 320px; font-family: 'Trebuchet MS', Helvetica, sans-serif;" align="center">Restrictions</h4>
    </div>
  </form>  

  <form method="POST" enctype="multipart/form-data" action="/update_restrictions">
    
    <!--<h6 style="display: inline-block; float: left; margin-left: 20px; font-family: 'Trebuchet MS', Helvetica, sans-serif;">ADMIN<input type="checkbox" name="admin"></h6>-->

    <div style="padding: 0px;" class="custom-control custom-checkbox">
      <h6 style="float: left; margin-left: 115px; font-family: 'Trebuchet MS', Helvetica, sans-serif;">{{doctor_name}}</h6>
      <input type="checkbox" class="custom-control-input" id="customCheck1" name="admin">
      <label style="margin-left: 60px; font-family: 'Trebuchet MS', Helvetica, sans-serif;" class="custom-control-label" for="customCheck1">ADMIN</label>
    </div>

    <button style="float: right; margin-right: 115px; display: inline-block;" type="submit" class="btn btn-primary">Save</button>
    <br>
    <br>

    <div class="form-row align-items-center" style="margin-left: 110px; font-family: 'Trebuchet MS', Helvetica, sans-serif;">
      <div class="col-auto">
        <label for="total-hours">Total Hours</label>
        <input type="number" class="form-control mb-2" id="total-hours" name="total-hours" value="{{TH}}">
      </div>  
      <div class="col-auto">
        <label for="hours-per-week">Hours per week</label>
        <input type="number" class="form-control mb-2" id="hours-per-week" name="hours-per-week" value="{{HPW}}">
      </div>
      <div class="col-auto">
        <label for="day-shifts">Number of day shifts</label>
        <input type="number" class="form-control mb-2" id="day-shifts" name="day-shifts" value="{{DS}}">
      </div>
      <div class="col-auto">
        <label for="night-shifts">Number of night shifts</label>
        <input type="number" class="form-control mb-2" id="night-shifts" name="night-shifts" value="{{NS}}">
      </div>
      <div class="col-auto">
        <label for="backup-shifts">Number of backup shifts</label>
        <input type="number" class="form-control mb-2" id="backup-shifts" name="backup-shifts" value="{{BS}}">
      </div>
      <div class="col-auto">
        <label for="weekends">Number of weekends</label>
        <input type="number" class="form-control mb-2" id="weekends" name="weekends" value="{{NW}}">
      </div>
    </div>

<!--     <div style="margin-left: 115px; font-family: 'Trebuchet MS'; margin-top:20px; margin-bottom: 20px">
      <p><b>List of unavailable days</b></p>
      {{unavailable_days|safe}}
      Unavailable days <input type="date" name="unavailable_days"> <br><br>
    </div> -->

    <br>
    <h6 style="padding: 2px; float: left; margin-left: 120px;">*Please Select Unavailable Times</h6>
    <div class="tablecontainer">
        {{preference_table | safe}}
        <br>
        <br>
    </div>
  </form>

</content>
<script type="text/javascript">

    $("input[type=checkbox]").change(function() {
        if(this.checked) {
          console.log('checked');
          $(this).closest("td").css("background-color", "#FF4900");
        }
        else {
          console.log('unchecked');
          $(this).closest("td").css("background-color", "transparent");
        }
    });

    if ('{{ADMIN}}' == 'True') {
      console.log('test')
      $('#customCheck1').prop('checked', true);
    }

</script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>