<!doctype html>
<html lang="en">
  <head>
    <title>Emergence</title>
    <link rel="shortcut icon"  href="{{url_for('static', filename='EMERGENCE-LOGO-ICON.png')}}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity=''></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>


    <style>

        .carousel-control-prev-icon,
    .carousel-control-next-icon {
      height: 100px;
      width: 100px;
      outline: black;
      background-size: 100%, 100%;
      border-radius: 50%;
      border: 1px solid black;
      background-image: none;
    }

    .carousel-control-next-icon:after
    {
      content: '>';
      font-size: 55px;
      color: black
    }

    .carousel-control-prev-icon:after {
      content: '<';
      font-size: 55px;
      color: black;

    }

    .carousel-item{
      padding-top:0%;
      padding-bottom:5%;
      padding-left:15%;
      padding-right: 15%;
    }

    .tablecontainer {
      width: 100%;
      margin: auto;
      margin-top: 40px;
      padding-right: 40px;
      padding-left:40px;

    }

    div.title {
      padding: 20px;
    }

    th{
      text-align: center;
      vertical-align: middle;
      overflow: hidden;
      margin: 0;
      width: 10%;
      height: 80px;
    }

    td {
      height: 80px;
      text-align: center;
      vertical-align: middle;
    }

    button.table {
      background: transparent;
      background-repeat:no-repeat;
      border: none;
      cursor:pointer;
      overflow: hidden;
      outline:none;
      width: 100%;
      display: inline-block;
    }


    #image01 {width:70%;height:75%;border:0;
    margin-left: 15%;
    margin-right: 15%;} 
    .show{display:block;}
    .hide{display:none;}

  </style>
  </head>
  <body>

<header>
<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="home">Emergence</a>
    <div class="container-fluid" id="navbarNav">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="schedule">Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="restrictions">Restrictions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="shift_configuration">Configure Shifts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="calculator">Calculator</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My Account</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item active">
          <a class="nav-link" href="login">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
</header>

<img id="image01" src="https://media.giphy.com/media/Hzx59OElruHpC/giphy.gif" class="hide"> 

<div id="page-content">

<content>
  <div class="title" style="margin-bottom: 20px; margin-left: 15%; margin-right:15%;">
    <h3 style="text-align: left; float: left;">Calendar</h3>
<!--     <button onclick="loading_function(); display_loading_gif()" type='submit' id='optimize_button' style="float: right; margin-right: 40px;" class="btn btn-outline-dark">Optimize All</button>
 --><!--     <button onclick="loading_function(); display_loading_gif()" type='submit' id='optimize_button' style="float: right; margin-right: 40px;" class="btn btn-outline-dark">Optimize All (Secondary method)</button>
 -->
    <a href="optimized_summary" class="btn btn-outline-dark" style="float: right;">See Summary</a>
  </div> 

  <!-- Piece of code intended for a form used to optimize only those days with the worst PPH-PI values. -->

  <!--   <form style="float:right; margin-right:60px; margin-top:5px;">
      <input type="number" name="quantity" min="1" max="5" placeholder="Number of days" style="width: 200px">
      <button type="submit" class="btn btn-outline-dark">Optimize days</button>
    </form> -->


  <div class="tablecontainer" style="width:72%">
    <div style="border-style: solid ;border-width: 1px; border-color: #e5e5e5">
          <h5 style="padding:20px;">Statistics for the optimized schedule</h5>
    <div class="container" style="margin-bottom: 20px;">
      <div class="row">
        <div class="col-4">
          {{patient_inflow}} predicted patients coming in
        </div>
        <div class="col-4">
          {{patients_seen}} predicted patients seen
        </div>
      </div>
    </div>
    </div>
  </div>

  <div id="tablecontainer" class="tablecontainer">
    {{calendar | safe}}
  </div>

  <div class="tablecontainer" style="width:72%">
    <div style="border-style: solid ;border-width: 1px; border-color: #e5e5e5">
          <h5 style="padding:20px;">Color code</h5>
    <div class="container" style="margin-bottom: 20px;">
      <div class="row">
        <div class="col-1">
          <div style="height: 20px; width: 20px; background-color: #FF4900; border-style: solid; border-width: 1px; border-color: #e5e5e5; padding">
          </div>
        </div>
          <div class="col-2">
            Doctor capacity is below 80% (understaffing)
          </div>
          <div class="col-1">
          <div style="height: 20px; width: 20px; background-color: #FFD400; border-style: solid; border-width: 1px; border-color: #e5e5e5;"> 
          </div>
        </div>
          <div class="col-2">
            Doctor capacity is between 80% and 90% (understaffing)
          </div>
        <div class="col-1">
          <div style="height: 20px; width: 20px; background-color: #19D529; border-style: solid; border-width: 1px; border-color: #e5e5e5;">
          </div>
        </div>
          <div class="col-2">Doctor capacity is betweeen 90% and 110%
          </div>
        <div class="col-1">
          <div style="height: 20px; width: 20px; background-color: #4F95FF; border-style: solid; border-width: 1px; border-color: #e5e5e5;"></div>
        </div>
          <div class="col-2"> Doctor capacity is over 110% (overstaffing)
          </div>

        </div>
      </div>
    </div>
    </div>
  </div>

</content>
</body>
<footer style="margin-bottom: 200px;"></footer>

</div>

<script type="text/javascript">

    function loading_function() {
      var x = document.getElementById("page-content");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }

    function display_loading_gif(){
      var obj=document.getElementById('image01');
      obj.className = 'show';
      }


  if ("{{key}}" == "Emergence"){
    var myTables = document.getElementById('tablecontainer');
    sessionStorage.tableData=myTables.innerHTML;
    myTables.innerHTML = sessionStorage.tableData;
    document.location.href = '/schedule';
  }

  var myTables = document.getElementById('tablecontainer');
  myTables.innerHTML = sessionStorage.tableData;

  $('button[type=button]').click(function() {
    var dateID = $(this).closest("td").attr("id");
    var date = $(this).text();
    var month = $(this).closest("tbody").find("th.month").text();
    
    $.post('/schedule', 
    {
      date : date,
      dateID : dateID,
      month : month
    }, function(html_table){
      sessionStorage.setItem('check', 'yes');
      sessionStorage.setItem('html_table', html_table);
      document.location.href = '/analysis';
    })

  })
  
  $('#optimize_button').click(function(){
    $.get('/optimized_calendar',
      function(html_calendar){
        sessionStorage.setItem('allow', 'yes');
        sessionStorage.setItem('html_calendar', html_calendar)
        console.log(html_calendar)
        document.location.href = '/show_BB_optimized_calendar';
      })
    })

  // $('#secondary_optimize_button').click(function(){
  //   $.get('/secondary_optimized_calendar',
  //     function(html_calendar){
  //       sessionStorage.setItem('allow', 'yes');
  //       sessionStorage.setItem('html_calendar', html_calendar)
  //       console.log(html_calendar)
  //       document.location.href = '/show_BB_optimized_calendar';
  //     })
  //   })
  
</script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </body>
</html>