<!doctype html>
<html lang="en">
  <head>
    <title>Emergence</title>
    <link rel="shortcut icon"  href="{{url_for('static', filename='EMERGENCE-LOGO-ICON.png')}}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <!-- Spinner -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    

    <style>
    .right {
      float: left;
      margin-top: 50px;
      margin-left: 60px;
      width: 950px;
      height: 500px;
      border-color: #262626;
      border-width: 3px;
    }

    .bottom {
      width: 300px;
      height: 300px;
      border-color: #262626;
      border-width: 3px;
    }

    .container {
        width: 350px;
        height: 200px;
        float: left;
        margin-left: 30px; 
        margin-top: 60px; 
        text-align: center;
    }

    /* resize images */
    .container img {
        width: 100%;
        height: auto;
    }

    </style>

    
  </head>
  <body>

<header>
<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="doctor_home">Emergence</a>
    <div class="container-fluid" id="navbarNav">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="personal_schedule">My Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="feedback">Doctor Feedback</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="set_personal_preferences">Preferences</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="settings">My Account</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item active">
          <a class="nav-link" href="login">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
<div/>

<header/>
<content>
  <div class="container">
    <h4 style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">Welcome {{doctor_name}}</h4>
    <img src="{{url_for('static', filename=image_file)}}" style="width: 100%; height: auto;">
  </div>

  <div class="card bg-light right">
    <div style="background-color: #F5F5F5;" class="card-body">

      <form style="font-family: 'Trebuchet MS', Helvetica, sans-serif;" enctype="multipart/form-data" method="POST" action="/settings">
        <h5 style="text-align: center;">MY ACCOUNT</h5>
        <br>

        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="username" id="username" placeholder="{{doctor_name}}" disabled>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="text" class="form-control" name="password" id="password" value="{{password}}">
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" name="email" id="email" value="{{email}}">
        </div>

        <div class="form-group">
          <label for="image_file">Image file</label>
          <input type="file" class="form-control" name="file" id="image_file">
        </div>

      <button style="float: right; margin-right: 25px;" type="submit" class="btn btn-primary">Save</button>
      </form>

    </div>
  </div>

</content>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  </body>
</html>