<!doctype html>
<html lang="en">
  <head>
    <title>Emergence</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='EMERGENCE-LOGO-ICON.png')}}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <style>
    .center {
      margin: 0 auto;
      margin-top: 15px;
      width: 1000px;
      height: auto;
      border-color: #262626;
      border-width: 3px;
    }

    </style>

    
  </head>
  <body>

<header>
<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="home">Emergence</a>
    <div class="container-fluid" id="navbarNav">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="schedule">Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="restrictions">Restrictions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="shift_configuration">Configure Shifts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="calculator">Calculator</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My Account</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item active">
          <a class="nav-link" href="login">Logout</a>
        </li>
      </ul>  
    </div>
  </nav>
<div/>
<header/>

<content>
  <h5 style="font-family: 'Trebuchet MS', Helvetica, sans-serif; text-align: center; margin-top: 40px;">Doctor Shifts</h5>
  <div class="card bg-light center">
    <div style="background-color: #F5F5F5;" class="card-body">

      <form style="font-family: 'Trebuchet MS', Helvetica, sans-serif;" enctype="multipart/form-data" method="POST" action="/shift_configuration">

        <label style="margin-left: 10px;" for="Shift Name">Shift Name</label>              
        <label style="margin-left: 400px;" for="Start Time">Start Time</label>            
        <label style="margin-left: 160px;" for="End Time">End Time</label>

        {% for shiftname, time in doctor_shifts.items() %}

        <div class="form-row">
          <div class="col-md-6 mb-3">
            <input type="text" class="form-control" id="Shift Name" value="{{shiftname}}" name="{{shiftname}}" required>
          </div>

          <div class="col-md-3 mb-3">
              <input type="time" class="form-control" id="Start Time" value="{{time[0]}}:00:00" name="{{shiftname}} Start Time" required> 
          </div>

          <div class="col-md-3 mb-3">
            <input type="time" class="form-control" id="End Time" value="{{time[1]}}:00:00" name="{{shiftname}} End Time" required>
          </div>
        </div>

        {% endfor %}

      <button style="float: right; margin-right: 25px;" type="submit" class="btn btn-primary">Save</button>
      </form>

    </div>
  </div>

</content>
<footer style="margin-bottom: 100px;"></footer>

    <!-- Optional JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>


  </body>
</html>