<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <style>
    .tablecontainer {
      width: 90%;
      margin: auto;
      margin-top: 0px
      padding: 40px;
    }

    div.title {
      padding: 20px;
    }

    .foo {
      margin-top: 20px;
      width: 30px;
      height: 30px;
      margin-left: 85px;
      border: 1px solid rgba(0, 0, 0, .2);
    }

    .foo1 {
      margin-top: 20px;
      width: 30px;
      height: 30px;
      float: left;
      margin-left: 255px;
      border: 1px solid rgba(0, 0, 0, .2);
    }

    .foo2 {
      margin-top: 20px;
      width: 30px;
      height: 30px;
      float: left;
      margin-left: 450px;
      border: 1px solid rgba(0, 0, 0, .2);
    }

    .foo3 {
      margin-top: 20px;
      width: 30px;
      height: 30px;
      float: left;
      margin-left: 620px;
      border: 1px solid rgba(0, 0, 0, .2);
    }




    .WestDay {
      background: #FFD700;
    }

    .EastDay {
      background: #7CFC00;
    }

    .HubDay1 {
      background: #FFA500;
    }

    .HubDay2 {
      background: #800080;
    }

    .STday {
      background: #00FF7F;
    }

    .WestEve {
      background: #EE82EE;
    }

    .EastEve {
      background: #4169E1;
    }

    .HubEve1 {
      background: #FFFF00;
    }

    .HubEve2 {
      background: #4682B4;
    }

    .Surge {
      background: #FF0000;
    }

    .WestNight {
      background: #FF8C00;
    }

    .XNight {
      background: #9ACD32;
    }

  </style>
  </head>
  <body>

<header>
<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="home">Emergence</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="schedule">Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My Account</a>
        </li>
      </ul>
    </div>
  </nav>
<div/>

<header/>
<content>
  <div class="title">
    <h3 style="text-align: left; float: left; margin-left: 90px;">Schedule</h3>
    <form style="float: right; margin-right: 70px;" method="POST" enctype="multipart/form-data">
        <span><input type="file" name="file"></span>
        <input type="submit" name="submit">
    </form>
  </div> 
  <div class='tablecontainer'>
    <table class="table table-bordered" id="schedule">
    <thead style="text-align: center; vertical-align: middle; margin: auto;">
      <tr>
        <th width="100" scope="col">Time</th>
        <th scope="col">West day</th>
        <th scope="col">East day</th>
        <th scope="col">Hub day 1</th>
        <th scope="col">Hub day 2</th>
        <th scope="col">ST day</th>
        <th scope="col">West eve</th>
        <th scope="col">East eve</th>
        <th scope="col">Hub eve 1</th>
        <th scope="col">Hub eve 2</th>
        <th scope="col">West night</th>
        <th scope="col">X night</th>
        <th scope="col">Surge</th>
        <th scope="col">PPH score</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">7:00 am</th>
        <td bgcolor="#FFD700"></td>
        <td bgcolor="#7CFC00"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{PPH[0]}}</td>
      </tr>
      <tr>
        <th scope="row">8:00 am</th>
        <td bgcolor="#FFD700"></td>
        <td bgcolor="#7CFC00"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{PPH[1]}}</td>   
      </tr>
      <tr>
        <th scope="row">9:00 am</th>
        <td bgcolor="#FFD700"></td>
        <td bgcolor="#7CFC00"></td>
        <td bgcolor="#FFA500"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{PPH[2]}}</td>
      </tr>
      <tr>
        <th scope="row">10:00 am</th>
        <td bgcolor="#FFD700"></td>
        <td bgcolor="#7CFC00"></td>
        <td bgcolor="#FFA500"></td>
        <td bgcolor="#800080"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{PPH[3]}}</td>
      </tr>
      <tr>
        <th scope="row">11:00 am</th>
        <td bgcolor="#FFD700"></td>
        <td bgcolor="#7CFC00"></td>
        <td bgcolor="#FFA500"></td>
        <td bgcolor="#800080"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{PPH[4]}}</td>
      </tr>
      <tr>
        <th scope="row">12:00 pm</th>
        <td bgcolor="#FFD700"></td>
        <td bgcolor="#7CFC00"></td>
        <td bgcolor="#FFA500"></td>
        <td bgcolor="#800080"></td>
        <td bgcolor="#00FF7F"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{PPH[5]}}</td>
      </tr>
      <tr>
        <th scope="row">1:00 pm</th>
        <td bgcolor="#FFD700"></td>
        <td bgcolor="#7CFC00"></td>
        <td bgcolor="#FFA500"></td>
        <td bgcolor="#800080"></td>
        <td bgcolor="#00FF7F"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{PPH[6]}}</td>
      </tr>
      <tr>
        <th scope="row">2:00 pm</th>
        <td bgcolor="#FFD700"></td>
        <td bgcolor="#7CFC00"></td>
        <td bgcolor="#FFA500"></td>
        <td bgcolor="#800080"></td>
        <td bgcolor="#00FF7F"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{PPH[7]}}</td>
      </tr>
      <tr>
        <th scope="row">3:00 pm</th>
        <td bgcolor="#FFD700"></td>
        <td bgcolor="#7CFC00"></td>
        <td bgcolor="#FFA500"></td>
        <td bgcolor="#800080"></td>
        <td bgcolor="#00FF7F"></td>
        <td bgcolor="#EE82EE"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{PPH[8]}}</td>
      </tr>
      <tr>
        <th scope="row">4:00 pm</th>
        <td bgcolor="#FFD700"></td>
        <td bgcolor="#7CFC00"></td>
        <td bgcolor="#FFA500"></td>
        <td bgcolor="#800080"></td>
        <td bgcolor="#00FF7F"></td>
        <td bgcolor="#EE82EE"></td>
        <td bgcolor="#4169E1"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{PPH[9]}}</td>
      </tr>
      <tr>
        <th scope="row">5:00 pm</th>
        <td></td>
        <td bgcolor="#7CFC00"></td>
        <td bgcolor="#FFA500"></td>
        <td bgcolor="#800080"></td>
        <td bgcolor="#00FF7F"></td>
        <td bgcolor="#EE82EE"></td>
        <td bgcolor="#4169E1"></td>
        <td bgcolor="#FFFF00"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{PPH[10]}}</td>
      </tr>
      <tr>
        <th scope="row">6:00 pm</th>
        <td></td>
        <td></td>
        <td></td>
        <td bgcolor="#800080"></td>
        <td bgcolor="#00FF7F"></td>
        <td bgcolor="#EE82EE"></td>
        <td bgcolor="#4169E1"></td>
        <td bgcolor="#FFFF00"></td>
        <td bgcolor="#4682B4"></td>
        <td></td>
        <td></td>
        <td bgcolor="#FF0000"></td>
        <td>{{PPH[11]}}</td>
      </tr>
      <tr>
        <th scope="row">7:00 pm</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td bgcolor="#00FF7F"></td>
        <td bgcolor="#EE82EE"></td>
        <td bgcolor="#4169E1"></td>
        <td bgcolor="#FFFF00"></td>
        <td bgcolor="#4682B4"></td>
        <td></td>
        <td></td>
        <td bgcolor="#FF0000"></td>
        <td>{{PPH[12]}}</td>
      </tr>
      <tr>
        <th scope="row">8:00 pm</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td bgcolor="#00FF7F"></td>
        <td bgcolor="#EE82EE"></td>
        <td bgcolor="#4169E1"></td>
        <td bgcolor="#FFFF00"></td>
        <td bgcolor="#4682B4"></td>
        <td></td>
        <td bgcolor="#9ACD32"></td>
        <td bgcolor="#FF0000"></td>
        <td>{{PPH[13]}}</td>
      </tr>
      <tr>
        <th scope="row">9:00 pm</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td bgcolor="#EE82EE"></td>
        <td bgcolor="#4169E1"></td>
        <td bgcolor="#FFFF00"></td>
        <td bgcolor="#4682B4"></td>
        <td></td>
        <td bgcolor="#9ACD32"></td>
        <td bgcolor="#FF0000"></td>
        <td>{{PPH[14]}}</td>
      </tr>
      <tr>
        <th scope="row">10:00 pm</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td bgcolor="#EE82EE"></td>
        <td bgcolor="#4169E1"></td>
        <td bgcolor="#FFFF00"></td>
        <td bgcolor="#4682B4"></td>
        <td></td>
        <td bgcolor="#9ACD32"></td>
        <td bgcolor="#FF0000"></td>
        <td>{{PPH[15]}}</td>
      </tr>
      <tr>
        <th scope="row">11:00 pm</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td bgcolor="#EE82EE"></td>
        <td bgcolor="#4169E1"></td>
        <td bgcolor="#FFFF00"></td>
        <td bgcolor="#4682B4"></td>
        <td bgcolor="#FF8C00"></td>
        <td bgcolor="#9ACD32"></td>
        <td bgcolor="#FF0000"></td>
        <td>{{PPH[16]}}</td>
      </tr>
      <tr>
        <th scope="row">12:00 am</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td bgcolor="#EE82EE"></td>
        <td bgcolor="#4169E1"></td>
        <td bgcolor="#FFFF00"></td>
        <td bgcolor="#4682B4"></td>
        <td bgcolor="#FF8C00"></td>
        <td bgcolor="#9ACD32"></td>
        <td></td>
        <td>{{PPH[17]}}</td>
      </tr>
      <tr>
        <th scope="row">1:00 am</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td bgcolor="#4682B4"></td>
        <td bgcolor="#FF8C00"></td>
        <td bgcolor="#9ACD32"></td>
        <td></td>
        <td>{{PPH[18]}}</td>
      </tr>
      <tr>
        <th scope="row">2:00 am</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td bgcolor="#FF8C00"></td>
        <td bgcolor="#9ACD32"></td>
        <td></td>
        <td>{{PPH[19]}}</td>
      </tr>
      <tr>
        <th scope="row">3:00 am</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td bgcolor="#FF8C00"></td>
        <td bgcolor="#9ACD32"></td>
        <td></td>
        <td>{{PPH[20]}}</td>
      </tr>
      <tr>
        <th scope="row">4:00 am</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td bgcolor="#FF8C00"></td>
        <td></td>
        <td></td>
        <td>{{PPH[21]}}</td>
      </tr>
      <tr>
        <th scope="row">5:00 am</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td bgcolor="#FF8C00"></td>
        <td></td>
        <td></td>
        <td>{{PPH[22]}}</td>
      </tr>
      <tr>
        <th scope="row">6:00 am</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td bgcolor="#FF8C00"></td>
        <td></td>
        <td></td>
        <td>{{PPH[23]}}</td>
      </tr>      
    </tbody>
  </table>
</div>

<div style="margin-top: 30px;">
<div><h5 style="text-align: left; margin-left: 90px">Doctors on shift</h5></div>
<div style="float: left;">
    <div class="foo WestDay"><p style="padding-left: 35px;" id="WestDay"></p></div>
    <div class="foo EastDay"><p style="padding-left: 35px;" id="EastDay"></p></div>
    <div class="foo HubDay1"><p style="padding-left: 35px;" id="HubDay1"></p></div>
</div>

<div style="float: left; margin-left: 240px;">
    <div class="foo HubDay2"><p style="padding-left: 35px;" id="HubDay2"></p></div>
    <div class="foo STday"><p style="padding-left: 35px;" id="STday"></p></div>
    <div class="foo WestEve"><p style="padding-left: 35px;" id="WestEve"></p></div>
</div>

<div style="float: left; margin-left: 240px;">
    <div class="foo EastEve"><p style="padding-left: 35px;" id="EastEve"></p></div>
    <div class="foo HubEve1"><p style="padding-left: 35px;" id="HubEve1"></p></div>
    <div class="foo HubEve2"><p style="padding-left: 35px;" id="HubEve2"></p></div>
</div>

<div style="float: left; margin-left: 240px;">
    <div class="foo Surge"><p style="padding-left: 35px;" id="Surge"></p></div>
    <div class="foo WestNight"><p style="padding-left: 35px;" id="WestNight"></p></div>
    <div class="foo XNight"><p style="padding-left: 35px;" id="XNight"></p></div>
</div>
</div>

</content>
<footer style="margin-bottom: 200px;"></footer>

<script type="text/javascript">
  function legend(){

  }
</script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  </body>
</html>